# ui environment variables
PORT=3000
PUBLIC_AGENT_URL=http://localhost:8006
PUBLIC_LINES_SERVICE_URL=http://localhost:8001
PUBLIC_STATISTICS_SERVICE_URL=http://localhost:8002
PUBLIC_BOOKIE_EMULATOR_URL=http://localhost:8005
